body {
  padding-top: 60px;
}


.tweet {
	border-bottom: 1px solid #e1e8ed;
	padding-top: 10px;
	padding-bottom: 5px;
}

.name {
	padding-left: 12px;
}

.tweet p, .tweetImg {
	padding-left: 60px;
}

.profile_photo {
	float:left;
}


.hashtag {
	color: #428bca;
	cursor: pointer;
}

.hashtag:hover {
	text-decoration: underline;
}

.tweet:hover {
	background-color: #f5f8fa;
}